html {
  font-family: Alegreya, serif;
}

h1 {
  font-family: Megrim,sans-serif;
  color: #003462
}

h2 {
  font-family: Alegreya, serif;
  color: #003462
}

.current {
  color: #d1e6f7;
}


header {
  text-align: center;
  font-family: Alegreya, serif;
}

.logo {
  width: 30%;
  display: block;
}

.side-nav {
  position: fixed;
}

.nav {
  display: none;
}

.nav-toggle {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: fixed;
  background-color: #0b6288;
  z-index: 10;
  right: 15px;
  top: 31px;
  right: 50px;
  padding: 15px 13px;

}

.nav-toggle a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

.nav-check:checked ~ .nav-toggle {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  position: fixed;
  right: 15px;
  top: 30px;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #ff
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.me img {
  width: 100%;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #0b6288;
}

a:hover {
    color: #d1e6f7;
}

.me {
  width: 100%
  display: inline-block;
}

footer {
  text-align: center;
  padding: 20px;
}

.error-p {
  font-family: Alegreya, serif;
}
.error-img img {
  width: 320px;
  display: inline-block;
}

.logo {
}

@media only screen and (min-width: 38em) {


}

@media only screen and (min-width: 60em) {

  .nav-label,
  .nav-open,
  .nav-close {
    display: none;
  }



  .nav {
    text-align: center;
    display: block;
  }

  .nav a {
    color: #0b6288;
    text-decoration: none;
  }

  .nav a:hover {
      color: #a21d28;
  }


}
