html {
  font-family: Alegreya, serif;
}

h1 {
  font-family: Megrim,sans-serif;
  color:
}


header {
  text-align: center;
  font-family: Alegreya, serif;
}

.logo {
  width: 30%;
  display: block;
}

.side-nav {
  position: fixed;
}

nav {
  text-align: center;
}

nav a {
  color: #0b6288;
  text-decoration: none;
}

nav a:hover {
    color: #a21d28;
}

.me img {
  width: 100%;
}

img {
  width: 100%;
  display: block;
}

.me {
  width: 100%
  display: inline-block;
}

footer {
  text-align: center;
  padding: 20px;
}

.error-p {
  font-family: Alegreya, serif;
}
.error-img img {
  width: 320px;
  display: inline-block;
}

.logo {
}
